/**app/static/css/style.css**/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #3a3a3a;
    font-family: Lato;
}

article{
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

/* h1 {
    
}  */