<!DOCTYPE html>
<html>


<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Random Dice</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='static\style.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='style.css') }}">
   
    <link rel="shortcut icon" type='image/icon' href="static\favicon.ico">
  
    {% block head %}
    {% endblock %}
   

</head>


<body>

    <div class="topnav" id="myTopnav">

        <a href="/pagePrincipale" class="{{page1}}">Page Principale</a>
        <a href="/creationDe" class="{{page2}}">Création Dé</a>
        <a href="/creationLance" class="{{page3}}">Création Lancé</a>
        <a href="/" class="{{page4}}">utilisateur loggé :{{utilisateurActif}}</a>
        <a href="/logout">Logout</a>
        
    </div>
 

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    {% block body %}
    {% endblock %}


    <script type="text/javascript" src="static\script.js"></script>
</body>

   
</html>