{% extends 'base.html' %}



{% block head %}
  
{% endblock %}




{% block body %}

    <h1> création dé </h1>
    <h4>nouveau dé</h4>
    <br>
    <form action="/valideDe" method="POST">
        nom du dé ( min 3 caractères )
        <br>
        <input type="text" name = "nomDuDe" value="" minlength="3" required> 
        <br>
        nb de face ( min 2 )
        <br>
        <input type="number" name = "nbDeFace" value="" min="2" required> 
        <br>
        <input type="submit" name = "BpValideDe" value="VALIDER DE">

    </form>

    <br>

    {% if listeDe|length < 1 %}
    <h4 style = "text-align: center;">pas de Dé créé</h4>

    {% else %}
        <table>
            <tr class="titre">
                <th>Nom du dé</th>
                <th>Nb de face</th>
                <th></th>
            </tr>
            {% for dice in listeDe %}
                <tr>
                    <td>{{ dice.name }}</td>
                    <td>{{ dice.value }}</td>
                    <td>
                        <form action="/suprimerDe/{{dice.id}}" method="POST">
                            <input type="submit" name = "BpSuprimer" value="SUPPRIMER">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}