{% extends 'base.html' %}



{% block head %}
  
{% endblock %}




{% block body %}

<h1> création dé </h1>



{% if listeDe|length < 1 %}
<h4 style = "text-align: center;">pas de Dé créé</h4>

{% else %}

<table>
<tr>
    <th>Nom du dé</th>
    <th>Nb de face</th>
    <th>dernier lancé</th>
</tr>
{% for dice in listeDe %}
        <tr>
            <td>{{ dice.name }}</td>
            <td>{{ dice.value }}</td>
            <br>
            <td>{{ dice.last_result }}</td>
            <td>
                <a href="/suprimerDe/{{dice.id}}">Suprimer</a>
                <br>		
                <a href="/update/{{dice.id}}">Update</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<br>
<br>
<form action="/valideDe" method="POST">
    

    <input type="text" name = "nomDuDe" value="" minlength="3" required>  nom du dé ( min 3 caractères )
    <br>
    <input type="number" name = "nbDeFace" value="" min="2" required>  nb de face ( min 2 )
    <br>
    <br>
    <input type="submit" name = "BpValideDe" value="VALIDER DE">

</form>

<br>

<br>
<form action="/pagePrincipale" method="POST">
    <input type="submit" name = "BpRetour" value="RETOUR">
</form>

<br>

{% endblock %}