{% extends 'base.html' %}



{% block head %}
   
{% endblock %}




{% block body %}

    <h1> historique  {{nom_lance}}</h1>
    
    {% if roll_historic_list_to_show|length < 1 %}
    <h4>pas d'historique</h4>

    {% else %}
    <table>
        <tr class="titre">
            <th>n°</th>
            <th>total</th>
            <th>detail</th>
            <th>timestamp</th>
        </tr>
    
        {% for historique in roll_historic_list_to_show %}
            <tr>
                <td>{{ historique.numero_lance }}</td>
                <td class="soustable">
                    <table>
                        <tr class="titre">
                            <th>result</th>
                            <th>max</th>        
                        </tr>
                        <tr>
                            <td>{{historique.total}}</td>
                            <td>{{historique.total_max}}</td>        
                        </tr>
                    </table>
                </td>
                <td>
                    {% if roll_historic_list_to_show|length < 1 %}
                    <h4>pas d'historique</h4>

                    {% else %}
                   
                    <table class="detail">
                        <tr class="titre">
                            <th>nom</th>
                            <th>result</th>
                            <th>max</th>        
                        </tr>
                        {% for dice_detail in historique.detail_list %}
                        <tr>
                            <td>{{dice_detail.name}}</td>
                            <td>{{dice_detail.value}}</td>
                            <td>{{dice_detail.face}}</td>        
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </td>
                <td>{{ historique.date_created }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <form action="/deleteHistoric/{{id}}" method="POST">
        <input type="submit" name = "BpSuprHistDe" value="SUPPRIMER HISTORIQUE">
    </form>
    <br>
    <br>
    <br>

    {% endif %}


{% endblock %}