{% extends 'base.html' %}



{% block head %}
   
{% endblock %}




{% block body %}

    <h1> historique </h1>
    
    {% if listeHist|length < 1 %}
    <h4>pas d'historique</h4>

    {% else %}
    <table>
        <tr>
            <th>idHist</th>
            <th>deId</th>
            <th>LanceId</th>
            <th>value</th>
            <th>timestamp</th>
        </tr>
    
        {% for historique in listeHist %}
            <tr>
                <td>{{ historique.id }}</td>
                <td>{{ historique.deId }}</td>
                <td>{{ historique.LanceId }}</td>
                <td>{{ historique.value }}</td>
                <td>{{ historique.date_created }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="/suprimerHistoriqueDe/{{id}}" method="POST">
        <input type="submit" name = "BpSuprHistDe" value="SUPPRIMER HISTORIQUE">
    </form>

    {% endif %}


{% endblock %}