{% extends 'base.html' %}



{% block head %}
{% endblock %}




{% block body %}

    <h1> page principale </h1>

    {% if listeDe|length < 1 %}
        <h4 style = "text-align: center;">pas de Dé créé</h4>

    {% else %}
    <h3>liste des dés disponible</h3>
    <table>
        <tr>
            <th>Nom du dé</th>
            <th>Nb de face</th>
            <th>dernier lancé</th>
        </tr>
        {% for dice in listeDe %}
                <tr>
                    <td>{{ dice.name }}</td>
                    <td>{{ dice.value }}</td>
                    <br>
                    <td>{{ dice.last_result }}</td>
                    <td>
                        <form action="/lancer/{{dice.id}}" method="POST">
                            <input type="submit" name = "BpLancer" value="LANCER">
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>
    {% endif %}




    

    {% if listeLance|length < 1 %}
    <h4 style = "text-align: center;">pas de Lancé créé</h4>
    
    {% else %}
    <h3>liste des lancés disponible</h3>
    <table>
        <tr>
            <th>Nom du Lancé</th>
            <th>Nombre de dé dans le lancé</th>
            <th>owner</th>
            <th>dernier resultat</th>
        </tr>
        {% for dice_group in listeLance %}
            <tr>
                <td>{{ dice_group.name }}</td>
                <br>
                <td>{{ dice_group.nb_de }}</td>
                <br>
                <td>{{ dice_group.owner }}</td>
                <td>{{ dice_group.last_result }}</td>
                <td>
                    <form action="/lancerGroupe/{{dice_group.id}}" method="POST">
                        <input type="submit" name = "BpLancer" value="LANCER GROUPE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}



{% endblock %}