{% extends 'base.html' %}



{% block head %}
{% endblock %}




{% block body %}

    <h1> page principale </h1>

      

    {% if dice_group_list|length < 1 %}
    <h4 style = "text-align: center;">pas de Lancé créé</h4>
    
    {% else %}
    <h3>liste des lancés disponible</h3>
    <table>
        <tr class="titre">
            <th>Nom du Lancé</th>
            <th>Nombre de dé dans le lancé</th>
            <th>dernier resultat</th>
            <th></th>
            <th></th>
        </tr>
        {% for dice_group in dice_group_list %}
            <tr>
                <td>{{ dice_group.name }}</td>
                <td>{{ dice_group.dice_count }}</td>
                <td>{{ dice_group.last_result }}</td>
                <td>
                    <form action="/groupLaunch/{{dice_group.group_id}}" method="POST">
                        <input type="submit" name = "BpLancer" value="LANCER GROUPE">
                    </form>
                </td>
                <td>
                    <form action="/historique/{{dice_group.group_id}}" method="POST">
                        <input type="submit" name = "BpHistLance" value="HISTORIQUE">
                    </form>
                </td>
                <br>
                
            </tr>
        {% endfor %}
    </table>
    {% endif %}



{% endblock %}