{% extends "base.html" %}

{% block content %}
<section>
<h3 class="title">Login</h3>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
    <form method="POST" action="/login">
        <div class="email">
            <input type="email" name="email" placeholder="Your Email" autofocus="">
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Your Password">
        </div>
        <div>
            <label class="checkbox">
                <input type="checkbox">
                Remember me
            </label>
        </div>
        <button>Login</button>
    </form>
</div>
</section>

{% endblock %}