{% extends "base.html" %}

{% block content %}
<h3 class="title">Sign Up</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="email_already_exists">
        {{ messages[0] }}. Go to , <a href="{{ url_for('auth.login') }}">login page<a>.
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/signup">
    <div class="sign_up_input">
        <input type="email" name="email" placeholder="Email" autofocus="">
    </div>
    <div class="sign_up_input">
        <input type="text" name="name" placeholder="Name" autofocus="">
    </div>
    <div class="sign_up_input">
        <input type="password" name="password" placeholder="Password">
    </div>
    <button class="sign_up_button">Sign Up</button>
</form>
{% endblock %}